body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:809px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:494px;
}
#u815 {
  position:absolute;
  left:-9px;
  top:-34px;
  width:825px;
  height:494px;
}
#u816 {
  position:absolute;
  left:2px;
  top:239px;
  width:821px;
  visibility:hidden;
  word-wrap:break-word;
}
#u817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u817 {
  position:absolute;
  left:462px;
  top:359px;
  width:140px;
  height:40px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u817_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u817.mouseOver {
}
#u818 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u819 {
  position:absolute;
  left:67px;
  top:16px;
  width:200px;
  height:200px;
}
#u820 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821 {
  position:absolute;
  left:287px;
  top:37px;
  width:320px;
  height:280px;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:55px;
}
#u822 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:55px;
  font-size:20px;
}
#u823 {
  position:absolute;
  left:2px;
  top:16px;
  width:311px;
  word-wrap:break-word;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:55px;
}
#u824 {
  position:absolute;
  left:0px;
  top:55px;
  width:315px;
  height:55px;
  font-size:20px;
}
#u825 {
  position:absolute;
  left:2px;
  top:16px;
  width:311px;
  word-wrap:break-word;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:55px;
}
#u826 {
  position:absolute;
  left:0px;
  top:110px;
  width:315px;
  height:55px;
  font-size:20px;
}
#u827 {
  position:absolute;
  left:2px;
  top:16px;
  width:311px;
  word-wrap:break-word;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:55px;
}
#u828 {
  position:absolute;
  left:0px;
  top:165px;
  width:315px;
  height:55px;
  font-size:20px;
}
#u829 {
  position:absolute;
  left:2px;
  top:16px;
  width:311px;
  word-wrap:break-word;
}
#u830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:55px;
}
#u830 {
  position:absolute;
  left:0px;
  top:220px;
  width:315px;
  height:55px;
  font-size:20px;
}
#u831 {
  position:absolute;
  left:2px;
  top:16px;
  width:311px;
  word-wrap:break-word;
}
#u832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u832 {
  position:absolute;
  left:275px;
  top:359px;
  width:140px;
  height:40px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u832_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u832.mouseOver {
}
#u833 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:24px;
}
#u834 {
  position:absolute;
  left:655px;
  top:163px;
  width:163px;
  height:24px;
  font-size:20px;
  color:#0000FF;
}
#u835 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u837_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:68px;
  height:31px;
}
#u837 {
  position:absolute;
  left:602px;
  top:172px;
  width:53px;
  height:5px;
}
#u838 {
  position:absolute;
  left:2px;
  top:-6px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_img {
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:108px;
}
#u839 {
  position:absolute;
  left:523px;
  top:399px;
  width:5px;
  height:93px;
}
#u840 {
  position:absolute;
  left:2px;
  top:38px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u841 {
  position:absolute;
  left:502px;
  top:492px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#33CC00;
}
#u842 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u843 {
  position:absolute;
  left:275px;
  top:486px;
  width:161px;
  height:24px;
  font-size:20px;
  color:#33CC00;
}
#u844 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u845_img {
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:103px;
}
#u845 {
  position:absolute;
  left:336px;
  top:398px;
  width:5px;
  height:88px;
}
#u846 {
  position:absolute;
  left:2px;
  top:36px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
