body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1432px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:70px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  position:absolute;
  left:-17px;
  top:73px;
  width:1125px;
  height:70px;
}
#u45 {
  position:absolute;
  left:2px;
  top:27px;
  width:1121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#003333;
}
#u46 {
  position:absolute;
  left:27px;
  top:28px;
  width:86px;
  height:45px;
  font-size:20px;
  color:#003333;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0000FF;
}
#u48 {
  position:absolute;
  left:997px;
  top:86px;
  width:93px;
  height:44px;
  font-size:20px;
  color:#0000FF;
}
#u49 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:70px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  position:absolute;
  left:-17px;
  top:222px;
  width:1125px;
  height:70px;
}
#u52 {
  position:absolute;
  left:2px;
  top:27px;
  width:1121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#003333;
}
#u53 {
  position:absolute;
  left:27px;
  top:177px;
  width:86px;
  height:45px;
  font-size:20px;
  color:#003333;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:70px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  position:absolute;
  left:-17px;
  top:377px;
  width:1125px;
  height:70px;
}
#u56 {
  position:absolute;
  left:2px;
  top:27px;
  width:1121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#003333;
}
#u57 {
  position:absolute;
  left:27px;
  top:332px;
  width:86px;
  height:45px;
  font-size:20px;
  color:#003333;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u59 {
  position:absolute;
  left:967px;
  top:235px;
  width:93px;
  height:44px;
  font-size:20px;
  color:#FFFFFF;
}
#u60 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u61 {
  position:absolute;
  left:967px;
  top:390px;
  width:93px;
  height:44px;
  font-size:20px;
  color:#FFFFFF;
}
#u62 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:1060px;
  top:235px;
  width:18px;
  height:43px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u63_input:disabled {
  color:grayText;
}
#u64 {
  position:absolute;
  left:1060px;
  top:391px;
  width:18px;
  height:43px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u64_input:disabled {
  color:grayText;
}
#u65 {
  position:absolute;
  left:997px;
  top:496px;
  width:105px;
  height:146px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u67 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u68 {
  position:absolute;
  left:0px;
  top:47px;
  width:100px;
  height:47px;
}
#u69 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u70 {
  position:absolute;
  left:0px;
  top:94px;
  width:100px;
  height:47px;
}
#u71 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:233px;
}
#u72 {
  position:absolute;
  left:1060px;
  top:278px;
  width:5px;
  height:218px;
}
#u73 {
  position:absolute;
  left:2px;
  top:101px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:94px;
}
#u74 {
  position:absolute;
  left:1073px;
  top:417px;
  width:5px;
  height:79px;
}
#u75 {
  position:absolute;
  left:2px;
  top:32px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋 Bold', '仿宋';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0000FF;
}
#u76 {
  position:absolute;
  left:717px;
  top:391px;
  width:197px;
  height:44px;
  font-family:'仿宋 Bold', '仿宋';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0000FF;
}
#u77 {
  position:absolute;
  left:2px;
  top:10px;
  width:193px;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
}
#u79 {
  position:absolute;
  left:1088px;
  top:457px;
  width:70px;
  height:29px;
  font-size:20px;
  color:#33CC00;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#33CC00;
}
#u81 {
  position:absolute;
  left:1149px;
  top:555px;
  width:300px;
  height:24px;
  font-size:20px;
  color:#33CC00;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:67px;
  height:31px;
}
#u83 {
  position:absolute;
  left:1097px;
  top:564px;
  width:52px;
  height:5px;
}
#u84 {
  position:absolute;
  left:2px;
  top:-6px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#33CC00;
}
#u85 {
  position:absolute;
  left:1149px;
  top:604px;
  width:300px;
  height:24px;
  font-size:20px;
  color:#33CC00;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:67px;
  height:31px;
}
#u87 {
  position:absolute;
  left:1097px;
  top:614px;
  width:52px;
  height:5px;
}
#u88 {
  position:absolute;
  left:2px;
  top:-6px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u89 {
  position:absolute;
  left:-17px;
  top:90px;
  width:592px;
  height:36px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u90 {
  position:absolute;
  left:2px;
  top:9px;
  width:588px;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u92 {
  position:absolute;
  left:-17px;
  top:239px;
  width:592px;
  height:36px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u93 {
  position:absolute;
  left:2px;
  top:9px;
  width:588px;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u95 {
  position:absolute;
  left:-17px;
  top:390px;
  width:592px;
  height:36px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u96 {
  position:absolute;
  left:2px;
  top:9px;
  width:588px;
  word-wrap:break-word;
}
