body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1245px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:758px;
}
#u22 {
  position:absolute;
  left:801px;
  top:-15px;
  width:404px;
  height:758px;
}
#u23 {
  position:absolute;
  left:2px;
  top:371px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:743px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:743px;
}
#u25 {
  position:absolute;
  left:2px;
  top:364px;
  width:797px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:172px;
}
#u26 {
  position:absolute;
  left:911px;
  top:49px;
  width:184px;
  height:172px;
}
#u27 {
  position:absolute;
  left:2px;
  top:78px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:992px;
  top:243px;
  width:140px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  position:absolute;
  left:827px;
  top:243px;
  width:140px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:280px;
}
#u32 {
  position:absolute;
  left:803px;
  top:297px;
  width:401px;
  height:280px;
}
#u33 {
  position:absolute;
  left:2px;
  top:132px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:824px;
  top:315px;
  width:370px;
  height:40px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35 {
  position:absolute;
  left:824px;
  top:365px;
  width:370px;
  height:38px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36 {
  position:absolute;
  left:824px;
  top:413px;
  width:288px;
  height:41px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  position:absolute;
  left:818px;
  top:516px;
  width:370px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:366px;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0000FF;
}
#u39 {
  position:absolute;
  left:945px;
  top:587px;
  width:300px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0000FF;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:53px;
}
#u42 {
  position:absolute;
  left:1001px;
  top:556px;
  width:5px;
  height:38px;
}
#u43 {
  position:absolute;
  left:2px;
  top:11px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
