body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:70px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:70px;
}
#u718 {
  position:absolute;
  left:2px;
  top:27px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u719 {
  position:absolute;
  left:893px;
  top:9px;
  width:93px;
  height:44px;
  font-size:20px;
  color:#FFFFFF;
}
#u720 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u721 {
  position:absolute;
  left:23px;
  top:80px;
  width:124px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u722 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u723 {
  position:absolute;
  left:147px;
  top:80px;
  width:225px;
  height:40px;
}
#u723_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
}
#u723_input:disabled {
  color:grayText;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u724 {
  position:absolute;
  left:467px;
  top:80px;
  width:124px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u725 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u726 {
  position:absolute;
  left:591px;
  top:80px;
  width:190px;
  height:40px;
}
#u726_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
}
#u726_input:disabled {
  color:grayText;
}
#u727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u727 {
  position:absolute;
  left:41px;
  top:175px;
  width:237px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u728 {
  position:absolute;
  left:2px;
  top:4px;
  width:233px;
  word-wrap:break-word;
}
#u729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u729 {
  position:absolute;
  left:439px;
  top:175px;
  width:237px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u730 {
  position:absolute;
  left:2px;
  top:4px;
  width:233px;
  word-wrap:break-word;
}
#u731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u731 {
  position:absolute;
  left:159px;
  top:208px;
  width:1px;
  height:200px;
}
#u732 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0000FF;
}
#u733 {
  position:absolute;
  left:43px;
  top:408px;
  width:234px;
  height:27px;
  font-size:20px;
  color:#0000FF;
}
#u734 {
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u736 {
  position:absolute;
  left:558px;
  top:208px;
  width:1px;
  height:200px;
}
#u737 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0000FF;
}
#u738 {
  position:absolute;
  left:442px;
  top:408px;
  width:234px;
  height:27px;
  font-size:20px;
  color:#0000FF;
}
#u739 {
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u741 {
  position:absolute;
  left:29px;
  top:9px;
  width:592px;
  height:36px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u742 {
  position:absolute;
  left:2px;
  top:9px;
  width:588px;
  word-wrap:break-word;
}
#u745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:24px;
}
#u745 {
  position:absolute;
  left:182px;
  top:316px;
  width:157px;
  height:24px;
  font-size:20px;
  color:#0000FF;
  text-align:center;
}
#u746 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
}
#u748 {
  position:absolute;
  left:583px;
  top:320px;
  width:176px;
  height:24px;
  font-size:20px;
  color:#0000FF;
  text-align:center;
}
#u749 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u751_img {
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:215px;
}
#u751 {
  position:absolute;
  left:306px;
  top:116px;
  width:5px;
  height:200px;
}
#u752 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753_img {
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:222px;
}
#u753 {
  position:absolute;
  left:718px;
  top:120px;
  width:5px;
  height:207px;
}
#u754 {
  position:absolute;
  left:2px;
  top:96px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
