body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1186px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1186px;
  height:195px;
  background:-webkit-linear-gradient(350deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(0, 255, 153, 1) 100%, rgba(0, 255, 153, 1) 100%);
  background:-moz-linear-gradient(100deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(0, 255, 153, 1) 100%, rgba(0, 255, 153, 1) 100%);
  background:linear-gradient(100deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(0, 255, 153, 1) 100%, rgba(0, 255, 153, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:1186px;
  height:195px;
}
#u167 {
  position:absolute;
  left:2px;
  top:90px;
  width:1182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Bold', 'Impact Normal', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u168 {
  position:absolute;
  left:13px;
  top:33px;
  width:223px;
  height:77px;
  font-family:'Impact Bold', 'Impact Normal', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u169 {
  position:absolute;
  left:0px;
  top:14px;
  width:223px;
  word-wrap:break-word;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:610px;
  background:-webkit-linear-gradient(260deg, rgba(0, 153, 153, 1) 0%, rgba(0, 153, 153, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  background:-moz-linear-gradient(190deg, rgba(0, 153, 153, 1) 0%, rgba(0, 153, 153, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  background:linear-gradient(190deg, rgba(0, 153, 153, 1) 0%, rgba(0, 153, 153, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u170 {
  position:absolute;
  left:0px;
  top:195px;
  width:259px;
  height:610px;
}
#u171 {
  position:absolute;
  left:2px;
  top:297px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:610px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u172 {
  position:absolute;
  left:261px;
  top:195px;
  width:925px;
  height:610px;
}
#u173 {
  position:absolute;
  left:2px;
  top:297px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Bold', 'Impact Normal', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u174 {
  position:absolute;
  left:0px;
  top:135px;
  width:177px;
  height:70px;
  font-family:'Impact Bold', 'Impact Normal', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u175 {
  position:absolute;
  left:2px;
  top:25px;
  width:173px;
  word-wrap:break-word;
}
#u176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Bold', 'Impact Normal', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u176 {
  position:absolute;
  left:0px;
  top:205px;
  width:259px;
  height:111px;
  font-family:'Impact Bold', 'Impact Normal', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u177 {
  position:absolute;
  left:2px;
  top:46px;
  width:255px;
  word-wrap:break-word;
}
#u178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Bold', 'Impact Normal', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u178 {
  position:absolute;
  left:0px;
  top:316px;
  width:259px;
  height:111px;
  font-family:'Impact Bold', 'Impact Normal', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u179 {
  position:absolute;
  left:2px;
  top:46px;
  width:255px;
  word-wrap:break-word;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Bold', 'Impact Normal', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u180 {
  position:absolute;
  left:0px;
  top:427px;
  width:259px;
  height:111px;
  font-family:'Impact Bold', 'Impact Normal', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u181 {
  position:absolute;
  left:2px;
  top:46px;
  width:255px;
  word-wrap:break-word;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Bold', 'Impact Normal', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u182 {
  position:absolute;
  left:0px;
  top:538px;
  width:259px;
  height:111px;
  font-family:'Impact Bold', 'Impact Normal', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u183 {
  position:absolute;
  left:2px;
  top:46px;
  width:255px;
  word-wrap:break-word;
}
#u184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Bold', 'Impact Normal', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u184 {
  position:absolute;
  left:2px;
  top:649px;
  width:259px;
  height:111px;
  font-family:'Impact Bold', 'Impact Normal', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u185 {
  position:absolute;
  left:2px;
  top:46px;
  width:255px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:288px;
  top:206px;
  width:513px;
  height:314px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:59px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:59px;
}
#u188 {
  position:absolute;
  left:2px;
  top:22px;
  width:98px;
  word-wrap:break-word;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:59px;
}
#u189 {
  position:absolute;
  left:102px;
  top:0px;
  width:102px;
  height:59px;
}
#u190 {
  position:absolute;
  left:2px;
  top:22px;
  width:98px;
  word-wrap:break-word;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:59px;
}
#u191 {
  position:absolute;
  left:204px;
  top:0px;
  width:102px;
  height:59px;
}
#u192 {
  position:absolute;
  left:2px;
  top:22px;
  width:98px;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:59px;
}
#u193 {
  position:absolute;
  left:306px;
  top:0px;
  width:102px;
  height:59px;
}
#u194 {
  position:absolute;
  left:2px;
  top:22px;
  width:98px;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:59px;
}
#u195 {
  position:absolute;
  left:408px;
  top:0px;
  width:100px;
  height:59px;
}
#u196 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u197 {
  position:absolute;
  left:0px;
  top:59px;
  width:102px;
  height:50px;
}
#u198 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u199 {
  position:absolute;
  left:102px;
  top:59px;
  width:102px;
  height:50px;
}
#u200 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u201 {
  position:absolute;
  left:204px;
  top:59px;
  width:102px;
  height:50px;
}
#u202 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u203 {
  position:absolute;
  left:306px;
  top:59px;
  width:102px;
  height:50px;
}
#u204 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u205 {
  position:absolute;
  left:408px;
  top:59px;
  width:100px;
  height:50px;
}
#u206 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u207 {
  position:absolute;
  left:0px;
  top:109px;
  width:102px;
  height:50px;
}
#u208 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u209 {
  position:absolute;
  left:102px;
  top:109px;
  width:102px;
  height:50px;
}
#u210 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u211 {
  position:absolute;
  left:204px;
  top:109px;
  width:102px;
  height:50px;
}
#u212 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u213 {
  position:absolute;
  left:306px;
  top:109px;
  width:102px;
  height:50px;
}
#u214 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u215 {
  position:absolute;
  left:408px;
  top:109px;
  width:100px;
  height:50px;
}
#u216 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u217 {
  position:absolute;
  left:0px;
  top:159px;
  width:102px;
  height:50px;
}
#u218 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u219 {
  position:absolute;
  left:102px;
  top:159px;
  width:102px;
  height:50px;
}
#u220 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u221 {
  position:absolute;
  left:204px;
  top:159px;
  width:102px;
  height:50px;
}
#u222 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u223 {
  position:absolute;
  left:306px;
  top:159px;
  width:102px;
  height:50px;
}
#u224 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u225 {
  position:absolute;
  left:408px;
  top:159px;
  width:100px;
  height:50px;
}
#u226 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u227 {
  position:absolute;
  left:0px;
  top:209px;
  width:102px;
  height:50px;
}
#u228 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u229 {
  position:absolute;
  left:102px;
  top:209px;
  width:102px;
  height:50px;
}
#u230 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u231 {
  position:absolute;
  left:204px;
  top:209px;
  width:102px;
  height:50px;
}
#u232 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u233 {
  position:absolute;
  left:306px;
  top:209px;
  width:102px;
  height:50px;
}
#u234 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u235 {
  position:absolute;
  left:408px;
  top:209px;
  width:100px;
  height:50px;
}
#u236 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u237 {
  position:absolute;
  left:0px;
  top:259px;
  width:102px;
  height:50px;
}
#u238 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u239 {
  position:absolute;
  left:102px;
  top:259px;
  width:102px;
  height:50px;
}
#u240 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u241 {
  position:absolute;
  left:204px;
  top:259px;
  width:102px;
  height:50px;
}
#u242 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u243 {
  position:absolute;
  left:306px;
  top:259px;
  width:102px;
  height:50px;
}
#u244 {
  position:absolute;
  left:2px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u245 {
  position:absolute;
  left:408px;
  top:259px;
  width:100px;
  height:50px;
}
#u246 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u247 {
  position:absolute;
  left:837px;
  top:705px;
  width:140px;
  height:40px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u247_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u247.mouseOver {
}
#u248 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u249 {
  position:absolute;
  left:1017px;
  top:705px;
  width:140px;
  height:40px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u249_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u249.mouseOver {
}
#u250 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u251 {
  position:absolute;
  left:910px;
  top:195px;
  width:200px;
  height:200px;
}
#u252 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253 {
  position:absolute;
  left:907px;
  top:383px;
  width:212px;
  height:280px;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:55px;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:55px;
}
#u255 {
  position:absolute;
  left:2px;
  top:20px;
  width:203px;
  word-wrap:break-word;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:55px;
}
#u256 {
  position:absolute;
  left:0px;
  top:55px;
  width:207px;
  height:55px;
}
#u257 {
  position:absolute;
  left:2px;
  top:20px;
  width:203px;
  word-wrap:break-word;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:55px;
}
#u258 {
  position:absolute;
  left:0px;
  top:110px;
  width:207px;
  height:55px;
}
#u259 {
  position:absolute;
  left:2px;
  top:20px;
  width:203px;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:55px;
}
#u260 {
  position:absolute;
  left:0px;
  top:165px;
  width:207px;
  height:55px;
}
#u261 {
  position:absolute;
  left:2px;
  top:20px;
  width:203px;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:55px;
}
#u262 {
  position:absolute;
  left:0px;
  top:220px;
  width:207px;
  height:55px;
}
#u263 {
  position:absolute;
  left:2px;
  top:20px;
  width:203px;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:250px;
}
#u264 {
  position:absolute;
  left:304px;
  top:538px;
  width:432px;
  height:250px;
}
#u265 {
  position:absolute;
  left:2px;
  top:117px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
