body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1171px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1247px;
  height:70px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  position:absolute;
  left:-145px;
  top:1px;
  width:1247px;
  height:70px;
}
#u93 {
  position:absolute;
  left:2px;
  top:27px;
  width:1243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u94 {
  position:absolute;
  left:6px;
  top:17px;
  width:592px;
  height:36px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u95 {
  position:absolute;
  left:2px;
  top:9px;
  width:588px;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u98 {
  position:absolute;
  left:991px;
  top:17px;
  width:93px;
  height:44px;
  font-size:20px;
  color:#FFFFFF;
}
#u99 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋 Bold', '仿宋';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u100 {
  position:absolute;
  left:706px;
  top:14px;
  width:197px;
  height:44px;
  font-family:'仿宋 Bold', '仿宋';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u101 {
  position:absolute;
  left:2px;
  top:10px;
  width:193px;
  word-wrap:break-word;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u102 {
  position:absolute;
  left:26px;
  top:144px;
  width:291px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u103 {
  position:absolute;
  left:2px;
  top:8px;
  width:287px;
  word-wrap:break-word;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u104 {
  position:absolute;
  left:327px;
  top:144px;
  width:361px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u105 {
  position:absolute;
  left:2px;
  top:8px;
  width:357px;
  word-wrap:break-word;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u106 {
  position:absolute;
  left:698px;
  top:144px;
  width:151px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u107 {
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  word-wrap:break-word;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u108 {
  position:absolute;
  left:32px;
  top:206px;
  width:511px;
  height:230px;
}
#u109 {
  position:absolute;
  left:2px;
  top:107px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u110 {
  position:absolute;
  left:57px;
  top:226px;
  width:220px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u111 {
  position:absolute;
  left:2px;
  top:1px;
  width:216px;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u112 {
  position:absolute;
  left:277px;
  top:226px;
  width:21px;
  height:23px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u114 {
  position:absolute;
  left:298px;
  top:226px;
  width:93px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u115 {
  position:absolute;
  left:2px;
  top:1px;
  width:89px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:121px;
  top:312px;
  width:400px;
  height:107px;
}
#u116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:107px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u117 {
  position:absolute;
  left:57px;
  top:275px;
  width:69px;
  height:149px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  font-size:20px;
}
#u119 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:108px;
}
#u120 {
  position:absolute;
  left:0px;
  top:36px;
  width:64px;
  height:108px;
  font-size:20px;
}
#u121 {
  position:absolute;
  left:2px;
  top:42px;
  width:60px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:121px;
  top:277px;
  width:200px;
  height:35px;
}
#u122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u123 {
  position:absolute;
  left:321px;
  top:277px;
  width:205px;
  height:40px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u125 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u126 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:35px;
}
#u127 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u128 {
  position:absolute;
  left:543px;
  top:206px;
  width:511px;
  height:230px;
}
#u129 {
  position:absolute;
  left:2px;
  top:107px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u130 {
  position:absolute;
  left:568px;
  top:226px;
  width:220px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u131 {
  position:absolute;
  left:2px;
  top:1px;
  width:216px;
  word-wrap:break-word;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u132 {
  position:absolute;
  left:788px;
  top:226px;
  width:21px;
  height:23px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u134 {
  position:absolute;
  left:809px;
  top:226px;
  width:93px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u135 {
  position:absolute;
  left:2px;
  top:1px;
  width:89px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:632px;
  top:312px;
  width:400px;
  height:107px;
}
#u136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:107px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u137 {
  position:absolute;
  left:568px;
  top:275px;
  width:69px;
  height:149px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  font-size:20px;
}
#u139 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:108px;
}
#u140 {
  position:absolute;
  left:0px;
  top:36px;
  width:64px;
  height:108px;
  font-size:20px;
}
#u141 {
  position:absolute;
  left:2px;
  top:42px;
  width:60px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:632px;
  top:277px;
  width:200px;
  height:35px;
}
#u142_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u143 {
  position:absolute;
  left:832px;
  top:277px;
  width:205px;
  height:40px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u145 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u146 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:35px;
}
#u147 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u148 {
  position:absolute;
  left:32px;
  top:436px;
  width:511px;
  height:230px;
}
#u149 {
  position:absolute;
  left:2px;
  top:107px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u150 {
  position:absolute;
  left:57px;
  top:456px;
  width:220px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u151 {
  position:absolute;
  left:2px;
  top:1px;
  width:216px;
  word-wrap:break-word;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u152 {
  position:absolute;
  left:277px;
  top:456px;
  width:21px;
  height:23px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u154 {
  position:absolute;
  left:298px;
  top:456px;
  width:93px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u155 {
  position:absolute;
  left:2px;
  top:1px;
  width:89px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:121px;
  top:542px;
  width:400px;
  height:107px;
}
#u156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:107px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u157 {
  position:absolute;
  left:57px;
  top:505px;
  width:69px;
  height:149px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  font-size:20px;
}
#u159 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:108px;
}
#u160 {
  position:absolute;
  left:0px;
  top:36px;
  width:64px;
  height:108px;
  font-size:20px;
}
#u161 {
  position:absolute;
  left:2px;
  top:42px;
  width:60px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:121px;
  top:507px;
  width:200px;
  height:35px;
}
#u162_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u163 {
  position:absolute;
  left:321px;
  top:507px;
  width:205px;
  height:40px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u165 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u166 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:35px;
}
#u167 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u168 {
  position:absolute;
  left:543px;
  top:436px;
  width:511px;
  height:230px;
}
#u169 {
  position:absolute;
  left:2px;
  top:107px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u170 {
  position:absolute;
  left:568px;
  top:456px;
  width:220px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u171 {
  position:absolute;
  left:2px;
  top:1px;
  width:216px;
  word-wrap:break-word;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u172 {
  position:absolute;
  left:788px;
  top:456px;
  width:21px;
  height:23px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u174 {
  position:absolute;
  left:809px;
  top:456px;
  width:93px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u175 {
  position:absolute;
  left:2px;
  top:1px;
  width:89px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:632px;
  top:542px;
  width:400px;
  height:107px;
}
#u176_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:107px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u177 {
  position:absolute;
  left:568px;
  top:505px;
  width:69px;
  height:149px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  font-size:20px;
}
#u179 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:108px;
}
#u180 {
  position:absolute;
  left:0px;
  top:36px;
  width:64px;
  height:108px;
  font-size:20px;
}
#u181 {
  position:absolute;
  left:2px;
  top:42px;
  width:60px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:632px;
  top:507px;
  width:200px;
  height:35px;
}
#u182_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u183 {
  position:absolute;
  left:832px;
  top:507px;
  width:205px;
  height:40px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u185 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u186 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:35px;
}
#u187 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u188 {
  position:absolute;
  left:32px;
  top:666px;
  width:511px;
  height:230px;
}
#u189 {
  position:absolute;
  left:2px;
  top:107px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u190 {
  position:absolute;
  left:57px;
  top:686px;
  width:281px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u191 {
  position:absolute;
  left:2px;
  top:1px;
  width:277px;
  word-wrap:break-word;
}
#u192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u192 {
  position:absolute;
  left:338px;
  top:686px;
  width:21px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u194 {
  position:absolute;
  left:359px;
  top:686px;
  width:93px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u195 {
  position:absolute;
  left:2px;
  top:1px;
  width:89px;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:121px;
  top:772px;
  width:400px;
  height:107px;
}
#u196_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:107px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u197 {
  position:absolute;
  left:57px;
  top:735px;
  width:69px;
  height:149px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  font-size:20px;
}
#u199 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:108px;
}
#u200 {
  position:absolute;
  left:0px;
  top:36px;
  width:64px;
  height:108px;
  font-size:20px;
}
#u201 {
  position:absolute;
  left:2px;
  top:42px;
  width:60px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:121px;
  top:737px;
  width:200px;
  height:35px;
}
#u202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u203 {
  position:absolute;
  left:321px;
  top:737px;
  width:205px;
  height:40px;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u205 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u206 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:35px;
}
#u207 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u208 {
  position:absolute;
  left:543px;
  top:666px;
  width:511px;
  height:230px;
}
#u209 {
  position:absolute;
  left:2px;
  top:107px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u210 {
  position:absolute;
  left:568px;
  top:686px;
  width:220px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u211 {
  position:absolute;
  left:2px;
  top:1px;
  width:216px;
  word-wrap:break-word;
}
#u212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u212 {
  position:absolute;
  left:788px;
  top:686px;
  width:21px;
  height:23px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u214 {
  position:absolute;
  left:809px;
  top:686px;
  width:93px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u215 {
  position:absolute;
  left:2px;
  top:1px;
  width:89px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:632px;
  top:772px;
  width:400px;
  height:107px;
}
#u216_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:107px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u217 {
  position:absolute;
  left:568px;
  top:735px;
  width:69px;
  height:149px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  font-size:20px;
}
#u219 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:108px;
}
#u220 {
  position:absolute;
  left:0px;
  top:36px;
  width:64px;
  height:108px;
  font-size:20px;
}
#u221 {
  position:absolute;
  left:2px;
  top:42px;
  width:60px;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:632px;
  top:737px;
  width:200px;
  height:35px;
}
#u222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u223 {
  position:absolute;
  left:832px;
  top:737px;
  width:205px;
  height:40px;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u225 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u226 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:35px;
}
#u227 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#33CC00;
}
#u228 {
  position:absolute;
  left:1077px;
  top:216px;
  width:239px;
  height:96px;
  color:#33CC00;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:196px;
  height:31px;
}
#u230 {
  position:absolute;
  left:896px;
  top:236px;
  width:181px;
  height:5px;
}
#u231 {
  position:absolute;
  left:2px;
  top:-6px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u232 {
  position:absolute;
  left:30px;
  top:81px;
  width:124px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u233 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:154px;
  top:81px;
  width:225px;
  height:40px;
}
#u234_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
}
#u234_input:disabled {
  color:grayText;
}
#u235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u235 {
  position:absolute;
  left:474px;
  top:81px;
  width:124px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u236 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:598px;
  top:81px;
  width:190px;
  height:40px;
}
#u237_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
}
#u237_input:disabled {
  color:grayText;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:24px;
}
#u238 {
  position:absolute;
  left:1091px;
  top:456px;
  width:162px;
  height:24px;
  font-size:20px;
  color:#0000FF;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u240_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:52px;
  height:31px;
}
#u240 {
  position:absolute;
  left:1054px;
  top:466px;
  width:37px;
  height:5px;
}
#u241 {
  position:absolute;
  left:2px;
  top:-6px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
